.git/
deliverable/*
log/*
node_modules/
private/
public/assets/*
public/uploads/*
puppet/
tmp/*
uploads/
volumes/
*.env
*.log
*.sql
.byebug_history
.dockerignore
.gitignore
.ruby-gemset
.ruby-version
Dockerfile
Vagrant
docker-compose.yml
