<fieldset class="comment">
  <div class="row">
    <div class="col-lg-10 col-md-9">
      <%= f.input :text, label: false, placeholder: t('.text_placeholder'), input_html: { rows: 4 } %>
      <%= f.input :issue_id, as: :hidden %>
    </div>
    <% unless request.xhr? %>
      <div class="col-lg-2 col-md-3">
        <%= f.input :file, label: false, hint: comment_file_identifier(f) %>
        <%= f.input :file_cache, as: :hidden %>
      </div>
    <% end %>
  </div>
</fieldset>
