<div class="card my-3">
  <div class="card-header">
    <%= link_to(
      [
        Measure.model_name.human(count: 0),
        Measure.human_attribute_name('cpu')
      ].join(' - '),
      '#cpu-measures',
      data: { toggle: 'collapse' }
    ) %>
  </div>
  <div id="cpu-measures" class="card-body collapse show">
    <%= measures_graph_for @measures, :cpu %>
  </div>
</div>
<div class="card my-3">
  <div class="card-header">
    <%= link_to(
      [
        Measure.model_name.human(count: 0),
        Measure.human_attribute_name('memory_in_kb')
      ].join(' - '),
      '#memory-measures',
      data: { toggle: 'collapse' }
    ) %>
  </div>
  <div id="memory-measures" class="card-body collapse show">
    <%= measures_graph_for @measures, :memory_in_mb %>
  </div>
</div>
