<div class="card mb-3">
  <div class="card-header">
    <a class="text-reset text-decoration-none d-block" href="#variables" data-bs-toggle="collapse">
      <%= Variable.model_name.human count: 0 %>
    </a>
  </div>
  <div id="variables" class="collapse card-body">
    <%= f.simple_fields_for :variables, variables do |df| %>
      <%= render 'variables/variable', f: df %>
    <% end %>

    <%= link_to_add_fields t('scripts.new.variable'), f, :variables unless disable_edition? %>
  </div>
</div>
