<div class="card">
  <div class="card-header">
    <h5>
      <%= @survey.issue %>
      <span class="float-right" data-status>
        <%= issue_status @survey.issue %>
      </span>
    </h5>
  </div>

  <div class="card-body">
    <% @survey.questions.each do |question| %>
      <%= render "issues/results_survey/#{question.results_partial}", question: question %>
    <% end %>
  </div>
</div>

<%= link_to 'Volver', issue_path(@survey.issue) %>
