<h2>Tiene nuevos casos</h2>

<p>
  <strong>
    Para visualizar todos estos casos, haga clic en el siguiente enlace
    <%= link_to "Ver #{t('.issues', count: @permalink.issues.count)}", account_permalink_url(current_account, @permalink) %>
  </strong>
</p>

<% @permalink.issues.each do |issue| %>
  <ul>
    <li>
      <%= issue.description %> |
      <%= link_to 'Ver caso', account_issue_url(current_account, issue) %>
    </li>
  </ul>
<% end %>

<p>
  <strong>
    Para visualizar todos estos casos, haga clic en el siguiente enlace
    <%= link_to "Ver #{t('.issues', count: @permalink.issues.count)}", account_permalink_url(current_account, @permalink) %>
  </strong>
</p>
