<h2>Nuevo comentario</h2>

<h3>Comentario</h3>
<blockquote>
  <%= simple_format @comment.text %>
  <footer><%= @comment.user %></footer>
</blockquote>

<p>
  Se hizo el siguiente comentario en
  <%= link_to t('.issues', count: @permalink.issues.count), permalink_url(@permalink) %>
</p>
