<fieldset class="job">
  <div class="row">
    <div class="col-sm-6">
      <%= f.input :script, as: :autocomplete, label: false, url: scripts_path, input_html: {
        data: { empty_result_label: t('schedules.script.empty') }
      } %>
    </div>
    <div class="col-sm-5">
      <%= f.input :server, as: :autocomplete, label: false, url: servers_path, input_html: {
        data: { empty_result_label: t('schedules.server.empty') }
      } %>
    </div>
    <div class="col-sm-1">
      <div class="row-controls text-right mb-3 mb-sm-0 mt-n4 mt-sm-n2">
        <%= f.input :id, as: :hidden %>
        <%= link_to_remove_nested_item f %>
      </div>
    </div>
  </div>
</fieldset>
