<h2>
  <%= version_change_for @version %>
</h2>

<div class="panel panel-default">
  <div class="panel-body">
    <%= text_diff_for_version %>
  </div>
</div>

<% if @script.can_be_edited_by? current_user %>
  <%= link_to(
    t('.revert'),
    script_reverts_path(@script.id, @version.id),
    method: :post,
    class: "btn btn-primary",
    data: { confirm: t('messages.confirmation') }) %> |
<% end %>
<%= link_to_index script_versions_path(@script) %>
