<h2>
  <%= version_change_for @version %>
</h2>

<div class="panel panel-default">
  <div class="panel-body">
    <%= version_diff_to_previous %>
  </div>
</div>

<%= link_to(
  t('.revert'),
  script_reverts_path(@script.id, @version.id),
  method: :post,
  class: "btn btn-primary",
  data: {
    confirm: t('messages.confirmation')
  }
) %> |
<%= link_to_index script_versions_path(@script) %>
