<h2>
  <%= version_change_for @version %>
</h2>

<div class="panel panel-default">
  <div class="panel-body">
    <%= text_diff_for_version %>
  </div>
</div>

<%= link_to_index script_versions_path(@script) %>
