<div class="card">
  <div class="card-header">
    <h5><%= @title %></h5>
  </div>
  <div class="card-body">
    <%= render 'form' %>
  </div>
</div>

<div class="mt-3">
  <%= link_to_show @descriptor %> |
  <%= link_to_index descriptors_path %>
</div>
