<fieldset class="dispatcher">
  <div class="row">
    <div class="col-md-11">
      <%= f.input :rule, as: :autocomplete, label: false, url: rules_path, input_html: {
        data: { empty_result_label: t('.empty') }
      } %>
    </div>
    <div class="col-md-1">
      <div class="row-controls">
        <%= f.input :id, as: :hidden %>
        <%= link_to_remove_nested_item f %>
      </div>
    </div>
  </div>
</fieldset>
