<li id="board" class="notification-list topbar-dropdown <%= ' show' if controller_name == 'board' && !request.xhr? %>">
  <% if show_board? %>
    <%= link_to issues_board_path, title: t('board.index.title'), class: 'nav-link' do %>
      <%= icon 'fas', 'shopping-cart' %>
      <span class="badge rounded-pill bg-primary"><%= board_session.size %></span>
    <% end %>
  <% end %>
</li>
