<div class="navbar-custom">
  <ul class="list-unstyled topbar-right-menu float-right mb-0">
    <%= render 'shared/board_actions' %>
    <%= render 'shared/user_actions' %>
  </ul>
  <button class="button-menu-mobile open-left disable-btn text-muted">
    <%= icon 'fas', 'bars' %>
  </button>
</div>
