<div class="navbar-custom topnav-navbar">
  <div class="container-fluid detached-nav">
    <button class="button-toggle-menu open-left text-muted disable-btn" data-bs-toogle="offcanvas" data-bs-target="#left-menu">
      <%= icon 'fas', 'bars' %>
    </button>

    <ul class="list-unstyled topbar-menu float-end mb-0">
      <%= render 'shared/board_actions' %>
      <%= render 'shared/user_actions' %>
    </ul>
  </div>
</div>
