<div class="panel panel-danger">
  <div class="panel-heading">
    <h4 class="panel-title">
      <%= link_to t('outputs.show.scripts_with_errors'), '#output-errors',
        data: { toggle: 'collapse' } %>
    </h4>
  </div>
  <div id="output-errors" class="panel-collapse collapse in">
    <div class="panel-body">
      <% exec.parse_and_find_lines_with_error.each do |script, errors| %>
        <ul>
          <% errors.each do |error| %>
            <li>
              <%= link_to_error_line script, error, exec.still_valid? %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
