<div class="card border-danger my-3">
  <div class="card-header bg-danger text-white">
    <h5>
      <%= link_to(
        t('outputs.show.scripts_with_errors'),
        '#output-errors',
        class: 'text-reset text-decoration-none',
        data:  { toggle: 'collapse' }
      ) %>
    </h5>
  </div>
  <div id="output-errors" class="card-body collapse show">
    <% exec.parse_and_find_lines_with_error.each do |script, errors| %>
      <% if errors.present? %>
        <ul>
          <% errors.each do |error| %>
            <li>
              <%= link_to_error_line script, error, valid: exec.still_valid? %>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>
