<div class="card border border-warning my-3 mb-0">
  <div class="card-header bg-warning text-white">
    <strong>
      <%= link_to(
        t('outputs.show.scripts_with_warnings'),
        '#output-warnings',
        class: 'text-reset text-decoration-none',
        data:  { toggle: 'collapse' }
      ) %>
    </strong>
  </div>
  <div id="output-warnings" class="card-body collapse show">
    <% exec.parse_and_find_lines_with_errors_for(:warning).each do |script, warnings| %>
      <ul>
        <% warnings.each do |warning| %>
          <li>
            <%= link_to_error_line script, warning, valid: exec.still_valid? %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
