<div class="card border-danger my-3">
  <div class="card-header bg-danger text-white">
    <%= link_to t('outputs.show.scripts_with_errors'), '#output-errors',
      class: 'text-reset', data: { toggle: 'collapse' } %>
  </div>
  <div id="output-errors" class="panel-collapse collapse show">
    <div class="card-body">
      <% exec.parse_and_find_lines_with_error.each do |script, errors| %>
        <ul>
          <% errors.each do |error| %>
            <li>
              <%= link_to_error_line script, error, exec.still_valid? %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
