<div class="hide" data-tour-template="true">
  <div class="popover tour">
    <div class="arrow"></div>
    <h3 class="popover-title"></h3>
    <div class="popover-content"></div>
    <div class="popover-navigation">
      <div class="tour-navigation-buttons">
        <button class="btn btn-default tour-navigation-button" data-role="prev"><%= t 'tours.prev' %></button>
        <span data-role="separator">|</span>
        <button class="btn btn-default" data-role="next"><%= t 'tours.next' %></button>
      </div>
      <button class="btn btn-default" data-role="end"><%= t 'tours.finish' %></button>
    </div>
  </div>
</div>
