<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
    <%= icon 'fas', 'user' %>
  </a>

  <div class="dropdown-menu">
    <% unless ldap %>
      <%= link_to t('profiles.edit.title'), profile_path, class: 'dropdown-item' %>
    <% end %>

    <%= dropdown_item_for Membership, memberships_path %>

    <div class="dropdown-divider"></div>

    <%= link_to t('navigation.logout'), logout_path, class: 'dropdown-item', data: { method: :delete } %>
  </div>
</li>
