<div class="card">
  <div class="card-body">
    <%= f.label :response_text, f.object.question.title, style: 'display: block' %>
    <%= f.collection_select :drop_down_option_id, f.object.question.drop_down_options,:id,:value, include_blank: false %>
    <%= f.hidden_field :type %>
    <%= f.hidden_field :question_id, value: f.object.question.id %>
  </div>
</div>
