<div class="card">
  <div class="card-body">
    <%= f.label :response_text, f.object.question.title, style: 'display: block' %>
    <%= f.input :drop_down_option_id, collection: drop_down_options(f.object.question), 
                                      include_blank: false, label: false %>
    <%= f.hidden_field :type %>
    <%= f.hidden_field :question_id, value: f.object.question.id %>
  </div>
</div>
