<fieldset class="comment">
  <div class="row">
    <div class="col-lg-10 col-md-9">
      <%= f.input :text, label: false, placeholder: t('.text_placeholder'), input_html: { rows: 4 } %>
      <%= f.input :issue_id, as: :hidden %>
    </div>
    <% unless request.xhr? %>
      <div class="col-lg-2 col-md-3">
        <%= f.input :attachment, hint: comment_file_identifier(f), label: false, input_html: {
          include_hidden: false, direct_upload: true
        } %>

        <% if f.object.attachment.attached? && f.object.invalid? %>
          <%= f.hidden_field :attachment, direct_upload: true, value: f.object.attachment.signed_id %>
        <% end %>
      </div>
    <% end %>
  </div>
</fieldset>
