default: &default
  adapter: postgresql
  encoding: unicode
  host: <%= ENV['DB_HOST'] || 'localhost' %>
  port: 5432
  pool: 5
  username: <%= ENV['TRAVIS'] ? 'postgres' : 'monitor' %>
  password: <%= ENV['TRAVIS'] ? '' : ENV['APP_DB_PASSWORD'] || 'monitor' %>

development:
  <<: *default
  database: monitor_development

test:
  <<: *default
  database: monitor_test

production:
  <<: *default
  database: monitor_production

sandbox:
  <<: *default
  database: monitor_production
