<fieldset class="subscription">
  <div class="row">
    <div class="col-sm-11">
      <%= f.input :user, as: :autocomplete, label: false, url: users_path, input_html: {
        readonly: limited_issue_form_edition?,
        data: { empty_result_label: t('.empty') }
      } %>
    </div>
    <div class="col-sm-1">
      <div class="row-controls text-right mb-3 mb-sm-0 mt-n4 mt-sm-n2">
        <%= f.input :id, as: :hidden %>
        <%= link_to_remove_nested_item f unless limited_issue_form_edition? %>
      </div>
    </div>
  </div>
</fieldset>
