<% view ||= issue.view_by current_user %>

<% if view %>
  <%= icon 'fas', 'check', title: t('.viewed_at', on: l(view.created_at, format: :long)) %>
<% else %>
  <div data-view-id="<%= issue.id %>" class="d-inline">
    <%= link_to views_path(issue_id: issue.id), title: t('.mark_as_viewed'), data: { remote: true, method: :post } do %>
      <%= icon 'fas', 'envelope' %>
    <% end %>
  </div>
<% end %>