@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

.ct-label.ct-horizontal {
  display: none;
}

@include media-breakpoint-up(lg) {
  .ct-label.ct-horizontal {
    display: flex;
  }
}

.ct-chart.ct-measure {
  margin-bottom: 1em;

  .ct-chart-line {
    overflow: visible;
  }

  .ct-label.ct-horizontal {
    transform-origin: 3em 12em;
    transform: rotate(-20deg);
  }
}
