@import "bootstrap/functions";
@import "bootstrap/variables";

.loading-caption {
  width: 10em;
  z-index: $zindex-modal;
}

.text-striked {
  text-decoration: line-through;
}

.table {
  caption {
    caption-side: top;
  }
}
