// Place all the styles related to the panels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-highlight {
  border: 1px solid #4e5bf2;
}

.col-mh-4 {
  height: 250px;
}

.col-mh-8 {
  height: 500px;
}

.col-mh-12 {
  height: 750px;
}
