fieldset:hover            .row-controls,
.controls-container:hover .row-controls {
  opacity: 1;
  transition: opacity ease-in .2s;
}

.row-controls {
  opacity: 0;
  transition: opacity ease-out .2s;
}
