<fieldset class="tag">
  <div class="row">
    <div class="col-sm-11">
      <%= f.input :tag, as: :autocomplete, label: false, url: tags_path(kind: kind), input_html: {
        readonly: limited_tag_form_edition_for?(kind),
        data: { empty_result_label: t('.empty') }
      } %>
    </div>
    <div class="col-sm-1">
      <div class="row-controls">
        <%= f.input :id, as: :hidden %>
        <%= link_to_remove_nested_item f unless limited_tag_form_edition_for?(kind) %>
      </div>
    </div>
  </div>
</fieldset>
