<li class="list-inline-item tag-container" data-tagging-id="<%= tagging.id %>">
  <span class="badge badge-<%= tagging.tag.style %>"><%= tagging.tag %></span>
  <%= link_to_destroy [@issue, tagging], class: 'tag-controls small', data: { remote: true } %>
</li>
