<div class="card text-white bg-info mt-3">
  <div class="card-header">
    <%= Permalink.model_name.human count: 1 %>
  </div>
  <div class="card-body">
    <p>
      <%= link_to account_permalink_url(current_account, @permalink), [current_account, @permalink], class: 'text-reset' %>
    </p>
  </div>
</div>
