<hr>

<div class="panel panel-info">
  <div class="panel-heading">
    <h4 class="panel-title">
      <%= Permalink.model_name.human count: 1 %>
    </h4>
  </div>
  <div class="panel-body">
    <p>
      <%= link_to account_permalink_url(current_account, @permalink), [current_account, @permalink] %>
    </p>
  </div>
</div>
