<div class="table-responsive my-3">
  <table class="table table-sm table-hover" data-container>
    <thead>
      <tr>
        <% columns.each do |c| %>
          <th><%= c %></th>
        <% end %>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% object.each_with_index do |item, i| %>
        <tr>
          <% columns.each do |c| %>
            <td>
              <%= link_or_show parent, "#{i}/#{c}", item[c], object.object_id %>
            </td>
          <% end %>
          <td class="text-right">
            <%= link_or_show parent, i, item, object.object_id %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div data-container="<%= object.object_id %>"></div>
