<ul class="list-unstyled small">
  <% object.each_with_index do |v, k| %>
    <li><%= link_or_show parent, k, v, object.object_id %></li>
  <% end %>
</ul>

<div data-container="<%= object.object_id %>"></div>
