<fieldset class="rule_trigger">
  <div class="row">
    <div class="col-sm-11 tiny-editor">
      <%= f.input :callback, label: false, input_html: {
        data: {
          editor: true,
          readonly: disable_rule_edition?,
          phrases: editor_phrases.to_json
        }
      } %>
    </div>
    <div class="col-sm-1">
      <div class="row-controls text-right mb-3 mb-sm-0 mt-n4 mt-sm-n2">
        <%= f.input :id, as: :hidden %>
        <%= link_to_remove_nested_item f unless disable_rule_edition? %>
      </div>
    </div>
  </div>
</fieldset>
