<fieldset class="rule_trigger">
  <div class="row">
    <div class="col-sm-12">
      <%= f.input :callback, label: false, input_html: {
        rows: 5,
        data: {
          editor:               true,
          language:             'ruby',
          model_id:             f.object.id,
          phrases:              editor_phrases.to_json,
          readonly:             disable_rule_edition?,
          observe_other_fields: true,
          unsaved_data_warning: t('editor.edit.unsaved_data_warning')
        }
      } %>

      <%= f.input :id, as: :hidden %>
    </div>
  </div>
</fieldset>
