<!doctype html>
<html lang="<%= locale %>">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="turbo-cache-control" content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <%= javascript_importmap_tags 'tableau' %>
  </head>

  <body>
  </body>
</html>
