<fieldset class="parameter">
  <div class="row">
    <div class="col-sm-5">
      <%= f.input :name, as: :slim %>
    </div>
    <div class="col-sm-6">
      <%= f.input :value, as: :slim %>
    </div>
    <div class="col-sm-1">
      <div class="row-controls">
        <%= f.input :id, as: :hidden %>
        <%= link_to_remove_nested_item f %>
      </div>
    </div>
  </div>
</fieldset>
